.projects img {
  width: 80%;
}
.nav-wrapper ul {
  margin-right: 10px;
}
.about-me {
  display: flex;
  width: 70%;
  align-items: space-between;
  margin: 10% auto;
  justify-content: baseline;
}

.about-me-content {
  margin-top: 30px;
}

#profile-pic {
  width: 100%;
}

.profile-pic {
  margin-right: 20px;
}

#github {
  width: 5%;
}

#linkedin {
  width: 4%;
}

#email {
  width: 5%;
}

.contact {
  margin-top: 2000px;
  width: 10%;
}

.contact * {
  margin: 5px;
}

.card {
  padding: 5px;
}

@media only screen and (max-width: 880px) {
  #profile-pic {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 750px) {
  #profile-pic {
    margin-top: 70px;
  }
}

@media only screen and (max-width: 550px) {
  .about-me {
    flex-direction: column;
  }

  .david-rada {
    margin-left: -100px !important;
  }
}

@media only screen and (max-width: 380px) {
  .david-rada {
    margin-left: -75px !important;
  } 
   #profile-pic {
    width: 50%;
    margin-left: 29%;
    margin-top: -5px;
  }
}